<div *ngIf="router.url == '/home'" class="container">
    <div class="col-xs-12 col-md-12">
 <!-- <button  type="button" routerLink="/app-graph" class="btn btn-danger btn-lg">Line Chart</button>
  <button  type="button" routerLink="/app-rotation3-d" class="btn btn-danger btn-lg">Column Chart</button>-->
  <button  type="button" routerLink="/ainet" class="btn btn-danger btn-lg">AINET</button>
  <button  type="button" routerLink="/app-scattered3-dchart" class="btn btn-danger btn-lg">Arranged 3D</button>
  <!--<button  type="button" routerLink="/app-zoom-graph" class="btn btn-danger btn-lg">Scatter 3D M</button>-->
  <!--<button  type="button" routerLink="/app-scatter-points" class="btn btn-danger btn-lg">Scatter Points</button>-->
    </div>
</div>