/* html, body {
    height: 100%;
    color: #00BFFF;
  } */
  .chart {
    justify-content: center;
    align-items: center;
    display: flex !important;
   /*  max-width: 100% !important; */
    /*height: auto !important;*/
    /*height:100vh !important;*/
/*     width: 100vw !important;
    position: absolute;
    top: 28%; */
    /* top: 1 !important;
    bottom: 0;
     */
    /*background-color: rgb(145, 99, 99);*/
}

.rowUpdate{
  justify-content: center !important;
       display: -webkit-inline-box !important;
      
      /*  margin-right: 130pc !important; */

}
