/* html, body {
    height: 100%;
    color: #00BFFF;
  } */
  .chart {
    justify-content: center;
    align-items: center;
    display: flex !important;
    max-width: 100% !important;
    /*height: auto !important;*/
    /*height:100vh !important;*/
    width: 100vw !important;
    position: absolute;
    top: 28%;
    /* top: 1 !important;
    bottom: 0;
     */
    /*background-color: rgb(145, 99, 99);*/
}


.rowUpdate{
  justify-content: center !important;
       display: -webkit-inline-box !important;
      
      /*  margin-right: 130pc !important; */

}
/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */