<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FilePaths:0" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_1.txt"/>
		<add key="FilePaths:1" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_2.txt"/>
		<add key="FilePaths:2" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_3.txt"/>
		<add key="FilePaths:3" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_4.txt"/>
		<add key="FilePaths:4" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_5.txt"/>
		<add key="FilePaths:6" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\politic_6.txt"/>
		<add key="FilePaths:7" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_1.txt"/>
		<add key="FilePaths:8" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_2.txt"/>
		<add key="FilePaths:9" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_3.txt"/>
		<add key="FilePaths:10" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_4.txt"/>
		<add key="FilePaths:11" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_5.txt"/>
		<add key="FilePaths:12" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sport_6.txt"/>
		<add key="FilePaths:13" value="D:\\A_A_IT_Courses\\FUAS_Sem_1\\SE_Project_KNN_2023\\Rookie_dev\\se-cloud-2022-2023\\MySEProject\\KNN_Project\\KNN_Classifier\\Articles\\TrainingData\\sports_7.txt"/>
	</appSettings>
</configuration>
