<h2>
  Connectionist System
</h2>


<!-- <form #formCtrl="ngForm">

  <div class="container">

    <div class="form-row ">
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Overlap values inbetween 0 and 1">
          <input class="form-control input-sm" type="text" placeholder="[a b]" #overlapInterval>
      
        </div>
      </div>
      <div class="form-group col-md-2">
    
        <button id="overlapIntervalButton" class="btn btn-success " (click)='filterOverlap(overlapInterval.value)'>
          filter Overlap
        </button>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Permanence values inbetween 0 and 1">
          <input class="form-control input-sm" type="text" placeholder="[a b]" #permanenceInterval>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-success" (click)='filterPermanence(permanenceInterval.value)'>
          filter Permanence
        </button>

      </div>
    </div>

    <div class="form-row ">
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="AreaId of the three dimensional cell">
          <input class="form-control input-sm" type="number" placeholder="Area ID" #cellAreaID>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Enter the three dimensional cell">
          <input class="form-control input-sm" type="text" placeholder="X,Y,Z" #cell>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-info" (click)='showOutgoingIncomingSynapses(cellAreaID.value, cell.value)'>
          Out/in Synapses
        </button>

      </div>
    </div>

    <div class="form-row ">
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="AreaId of third dimensional Miicolumn">
          <input class="form-control input-sm" type="number" placeholder="Area ID" #areaID>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Minicolumn X Dimension, starts from 0">
          <input class="form-control" type="number" placeholder="MiniColumn X Dimension" #miniColumnXDimension>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Minicolumn Z Dimension, starts from 0">
          <input class="form-control" type="number" placeholder="MiniColumn Z Dimension" #miniColumnZDimension>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Overlap value, ranging from 0 to 1">
          <input class="form-control" type="number" min="0" max="1" placeholder="Overlap value" #newOverlapValue>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-danger"
          (click)='updateOverlapV(areaID.value, miniColumnXDimension.value,miniColumnZDimension.value,newOverlapValue.value)'>Update
          Overlap</button>
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="AreaId of third dimensional Precell of Synapse">
          <input class="form-control" type="number" placeholder="PreCell AreaID" #preCellAreaID required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="AreaId of third dimensional PostCell of Synapse">
          <input class="form-control" type="number" placeholder="PostCell AreaID" #postCellAreaID required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Three dimensional preSynaptic cell">
          <input class="form-control" type="text" placeholder="PreCell" #pre_Cell required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Three dimensional postSynaptic cell">
          <input class="form-control" type="text" placeholder="PostCell" #post_Cell required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div data-toggle="tooltip" data-placement="top" title="Permanance of the Synapse, ranging from 0 to 1">
          <input class="form-control" type="number" placeholder="Permanence" #permanence required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-warning"
          (click)='updateSynapses(preCellAreaID.value, postCellAreaID.value, pre_Cell.value, post_Cell.value, permanence.value )'>
          update Synapses
        </button>
      </div>
    </div>



  </div>
</form> -->

<div class="container">
  <form>

    <div class="form-group">
      <input type="number" class="form-control" id="overlapInterval" required>
    </div>

    <button type="submit" class="btn btn-success">Filter Overlap</button>

  </form>
</div>

<!-- Plotly chart will be drawn inside this div -->
<div class="chart" id="graph"></div>
<simple-notifications [options]="options"></simple-notifications>


<!--  <button  class="btn btn-warning"  (click)='updateOverlapV()'>Update OverlapV</button>
        <input id="areaIndex" [value] = "getViewModelValue('areaIndex')" (blur)="setViewModelValue($event, 'areaIndex')"/>
        <input id="miniColumnXDimension" [value] = "getViewModelValue('miniColumnXDimension')" (blur)="setViewModelValue($event, 'miniColumnXDimension')"/>
        <input id="miniColumnZDimension" [value] = "getViewModelValue('miniColumnZDimension')" (blur)="setViewModelValue($event, 'miniColumnZDimension')"/>
        <input id="newOverlapValue" [value] = "getViewModelValue('newOverlapValue')" (blur)="setViewModelValue($event, 'newOverlapValue')"/> -->

<!--
    <button class="btn btn-danger" (click)='clickFunc()'>UpdateOverlap</button>
    <button class="btn btn-danger" (click)='clickFunc2()'>UpdateSynapse </button>
  -->