akka {
 debug {  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
	loglevel=INFO
     actor {
           provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"	               
    }
	log-config-on-start = on    

     remote {
		connection-timeout = 120 s
		transport-failure-detector {
			heartbeat-interval = 10 s 
			acceptable-heartbeat-pause = 60 s 
			unreachable-nodes-reaper-interval = 10 s
			expected-response-after = 30 s
			retry-gate-closed-for = 5 s
			prune-quarantine-marker-after = 2 d
			system-message-ack-piggyback-timeout = 3 s
		}
        dot-netty.tcp {
			maximum-frame-size = 64000000b
            port = @PORT
			public-hostname = @PUBHOSTNAME
            hostname = @HOSTNAME
		}
    }
}

