akka {
 debug {  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
	loglevel=DEBUG
    actor.provider = cluster
	log-config-on-start = on    

    remote {
		connection-timeout = 120 s
		transport-failure-detector {
			heartbeat-interval = 1000s 
			acceptable-heartbeat-pause = 6000s 
		}
        dot-netty.tcp {
			maximum-frame-size = 32000000b
            port = @PORT
			public-hostname = @PUBHOSTNAME
            hostname = @HOSTNAME
		}
    }
    cluster {
        seed-nodes = [@SEEDHOSTS]
    }	
}

