:root {
  --header-font-family: Raleway, SemiBold;
  --nav-font-size: 23px;
  --nav-font-size-mobile: 18px;
  --header-color: #404040;
  --nav-bg-color: #ffffff;

  --spacer-color: #62b1ee;

  --header-font-family-bold: Raleway, Bold;

  --subtext-bg-color: #ffec89;

  --content-color: #161616;
  --content-text-font-family: Open Sans, Regular;
  --link-font-family: Open Sans, Bold;
  --content-odd-bg-color: #dbeaff;

  --content-padding-vertical: 1.5em;
  --content-padding-horizontal: 3em;
  --content-min-height: 100vh;
}
body {
  margin: 0;
  position: relative;
}
a {
  color: #1583d8;
  font-family: var(--link-font-family);
  font-weight: 600;
  letter-spacing: 0.74px;
}

h3,
h2 {
  font-family: var(--header-font-family);
  font-size: 34px;
}

.hamburger {
  height: 30px;
  width: 35px;
  padding: 0px 20px;
}

.hamburger div {
  line-height: 0;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  background-color: #707070;
  border-color: #707070;
  height: 0.5px;
  overflow: hidden;
  transition-duration: 500ms;
  
}

/* .hamburger.open div {
  transform: rotate(45deg);
} */

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(15px) translateX(3.8px) scale(1.2);
}
.hamburger.open div:nth-child(2) {
  transform: translateX(-500px);
  transition-duration: 0ms;
}
.hamburger div:nth-child(2){
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.09, 1.13);
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-15px) translateX(3.8px) scale(1.2);
}

.nav-element {
  display: none;
}

.nav-element-mobile {
  height: 125px;
  -webkit-transition: height 0.25s ease;
  -moz-transition: height 0.25s ease;
  -o-transition: height 0.25s ease;
  -ms-transition: height 0.25s ease;
  transition: height 0.25s ease, opacity 0.25s ease;
}

.nav-element-mobile.collapse {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.navigation h3 {
  font-size: var(--nav-font-size-mobile);
  color: var(--header-color);
  margin: 0.25em 1em;
  cursor: pointer;
  margin-bottom: 0;
  line-height: 1cm;
}

.navigation {
  text-align: center;
  width: 100%;
  position: sticky;
  letter-spacing: 0.71px;
  top: 0;
  background-color: var(--nav-bg-color);
  /* border-bottom: solid 1px gray; */
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0px 3px 6px #00000029;
}
.spacer {
  width: 2px;
  background-color: var(--spacer-color);
  margin-top: 5px;
  height: 35px;
}

.github {
  margin-right: 10px;
  width: 32px;
}

.text-no-decoration {
  text-decoration: none;
}

.text-black {
  color: #000000;
}

.btn {
  text-decoration: none;
  font-family: var(--header-font-family-bold);
  font-size: 20px;
  background-color: #ffd600;
  /* cursor: default; */
  color: var(--header-color);
  padding: 0.2em 1.3em;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 1em;
}

.banner {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.banner img {
  /* margin -top: -150px; */
  width: 100%;
}

.logo {
  padding: 2em 0;
}

.logo img {
  width: 70%;
}

.sub-banner {
  background-color: var(--subtext-bg-color);
  font-family: var(--header-font-family-bold);
  font-weight: 600;
  font-size: 31.5px;
  letter-spacing: 0.98px;
  color: var(--header-color);
  padding: 35px 50px;
}

.section {
  padding: var(--content-padding-vertical) var(--content-padding-horizontal);

  display: flex;
  flex-direction: column;
  gap: 2em;
}
.hightlight {
  background-color: var(--content-odd-bg-color);
}
.content > h3 {
  letter-spacing: 1.05px;
}

.content > a {
  margin-top: 140px;
}

.read-more {
  margin-top: 20px;
}

.text {
  font-family: var(--content-text-font-family);
  font-size: 21px;
}

.image {
  width: 100%;
}
.img-holder {
  margin: 0;
}

/* common format */
.d-flex {
  display: flex;
}

.ml-auto {
  margin-left: auto;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}
.align-items-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
  :root {
    --font-size: 1.1em;
    --content-padding-vertical: 5em;
    --content-padding-horizontal: 5em;
    --content-min-height: 0;
  }
  .section {
    flex-direction: row;
    gap: 2em;
  }
  .section > * {
    width: 100%;
  }
  .navigation h3 {
    font-size: var(--nav-font-size);
  }

  .btn {
    font-size: 28px;
    padding: 0.2em 1.3em;
  }

  .logo img {
    width: auto;
  }
}

@media screen and (min-width: 1250px) {
  :root {
    --content-padding-vertical: 5em;
    --content-padding-horizontal: 10em;
    --content-min-height: 0;
  }

  .hamburger {
    display: none;
  }

  .nav-element {
    display: flex;
  }

  .section {
    gap: 5em;
  }
  .banner-content > h2 {
    font-size: calc(3em * 1.618);
  }
  .banner-content {
    height: auto;
  }
  .banner img {
    margin-top: -100px;
  }
}

@media screen and (min-width: 2000px) {
  .banner img {
    margin-top: -150px;
  }
}
