name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{env.WrkDir}}
    env: 
      WrkDir: ./source
      MainSln: NeoCortexApi.All.sln
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      
      - name: Install dependencies
        run: dotnet restore ${{env.MainSln}}
      
      - name: Build
        run: dotnet build ${{env.MainSln}} --configuration Release --no-restore
        
      # Run test on Test category "SpatialPooler"
      - name: Test
        run: dotnet test ${{env.MainSln}} --no-restore --verbosity normal --filter TestCategory=Prod
